__pycache__/
trainer_output/
app/deeplearning/checkpoints/*
app/deeplearning/datasets/*
app/deeplearning/checkpoints/*
!.gitkeep
*.csv
.venv/
app/database/data/images/*.jpg
app/database/data/octanalysis.db